//- about.pug
.page
    .page-title
        h2 about louis

    .page-content
        h3 Languages:
        p Cantonese, English, Mandarin, JavaScript, Java, Python, PHP, C++, C, Lua, Rust, Brainfuck

        h3 Hobbies:
        p HPC hardware, VR gaming, Rhythm games (BMS/Taiko/Beat Saber), Music composing, Drawing

        h3 Specialization:
        p Web scraping, Backend systems, Native Android application development, Obfuscation

        h3 Other skills:
        p Linux servers management, Web frontend (jquery/materialize.css/nuxt.js), SQL (Postgres, MySQL/MariaDB), NoSQL (Redis), Realtime DB (Firebase), Message Queues (bull), ORM (sequalize), Desktop applications (wxpython/tkinter/electron), Serverless (Cloudflare Worker/Firebase Cloud Functions), PaaS (Heroku), Docker with docker-compose, nginx (Load balancing + Failover), Minecraft plugins, Django, Simple JS/Canvas games, OCR/captcha study, KVM (Performance optimization, GPU Passthrough by OVMF), AUR packages maintaining, After Effects, Sony Vegas

        h3 Worth mentioning:

        p
           | ABOUT
           | This is Louis Law. 👋
           | Handy - Hi. inc.
           | Quality Assurance Engineer(Automation)
           | Sierrawireless
           | validation engineer
           | CMHK
           | Engineer(RAN)
           | City University of Hong Kong
           | Tsing Yi IVE
           | Kwun Tong Ti
