//- about.pug
include ./mixins.pug

.credits-page
    .page-title
        h2 credit to:

    .page-content
        h3 Color palette:
        +lazy_page_link("https://flatuicolors.com/palette/gb")

        h3 icons:
        +lazy_page_link("https://icons8.com")

        h3 Theme origional design(but not copying):
        +lazy_page_link("https://themes.gohugo.io/theme/personal-web")

        h3 hamburgers button:
        +lazy_page_link("https://jonsuh.com/hamburgers")

        h3 qr image:
        +lazy_page_link("https://www.unitag.io/qrcode")

        h3 test
        p 斷多始市学凰処済準世一戸刻法分。悼測済諏 計飯利安<a href="http://www.google.com">凶断理</a>資沢同岩面文認革。内警格化再薬方久化体教御決数西望方我，将レカサ遣択みぞろ下記マヨホソ踏出いえゅど化点トこ

        h3 language
        ul
            li
                +icons8_icon_github()
                +fa_icon_python()
