include ./mixins.pug

.post-container(class="flexflow-top-down")
    .post-content
        +hello_post-header
        +hello_post-meta
        +hello_description

        a(href="#proj_home") back_to_proj_home

    //- .footer
    //-     p test footer
