include ./mixins.pug

.post-container(class="flexflow-top-down")
    .post-content
        +post-header('voron printer controller board', '#voron-printer-controller-board')
        +hello_post-meta
        //- +caption_img("https://raw.githubusercontent.com/louiscklaw/tradingview-tile-tryout/master/src/img/sc.png","tradingview dashboard screenshot")

        h3 current working on this project

        +back_to_project_home

    //- .footer
    //-     p test footer
