include ./mixins.pug

.cell(id="tradingview_post_thumbnail")
    .cell_container
        a(href="#tradingview-tile-tryout" class="proj_a")
        +proj_thumbnail_title("tradingview tryout")

.cell(id="voron-tryout_thumbnail")
    .cell_container
        a(href="#voron-tryout" class="proj_a")
        +proj_thumbnail_title("3d printer/3d-printer-tryout")

.cell(id="appium-behave-notes_thumbnail")
    .cell_container
        a(href="#appium-behave-notes" class="proj_a")
        +proj_thumbnail_title("appium-behave-notes")

.cell(id="tappy_tryout_thumbnail")
    .cell_container
        a(href="#tappy_tryout" class="proj_a")
        +proj_thumbnail_title("Tappy")

.cell(id="portfolio_tryout_thumbnail")
    .cell_container
        a(href="#portfolio_tryout" class="proj_a")
        +proj_thumbnail_title("Portfolio")

.cell(id="youtube_split_view_tryout_thumbnail")
    .cell_container
        a(href="#youtube-split-view-tryout" class="proj_a")
        +proj_thumbnail_title("youtube-split-view-tryout")

.cell(id="traefik-tryout_thumbnail")
    .cell_container
        a(href="#traefik-tryout" class="proj_a")
        +proj_thumbnail_title("traefik-tryout")

.cell(id="pet-pug-project_thumbnail")
    .cell_container
        a(href="#pet-pug-project" class="proj_a")
        +proj_thumbnail_title("pet-pug-project")

.cell(id="z-transfer-demo_thumbnail")
    .cell_container
        a(href="#z-transfer-demo" class="proj_a")
        +proj_thumbnail_title("z-transfer-demo")

.cell(id="rthk31-rthk32-linux-viewer_thumbnail")
    .cell_container
        a(href="#rthk31-rthk32-linux-viewer" class="proj_a")
        +proj_thumbnail_title("rthk31-rthk32-linux-viewer")

.cell(id="opencv-car-counting_thumbnail")
    .cell_container
        a(href="#opencv-car-counting" class="proj_a")
        +proj_thumbnail_title("opencv-car-counting")

.cell(id="linux-toolbox_thumbnail")
    .cell_container
        a(href="#linux-toolbox" class="proj_a")
        +proj_thumbnail_title("linux-toolbox")

.cell(id="hko-weather-bot_thumbnail")
    .cell_container
        a(href="#hko-weather-bot" class="proj_a")
        +proj_thumbnail_title("hko-weather-bot")

.cell(id="Slic3r-batch-export_thumbnail")
    .cell_container
        a(href="#Slic3r-batch-export" class="proj_a")
        +proj_thumbnail_title("Slic3r-batch-export")

.cell(id="Allwinner-v3s-tryout_thumbnail")
    .cell_container
        a(href="#Allwinner-v3s-tryout" class="proj_a")
        +proj_thumbnail_title("Allwinner-v3s-tryout")

.cell(id="printer-controller-board_thumbnail")
    .cell_container
        a(href="#printer-controller-board" class="proj_a")
        +proj_thumbnail_title("printer-controller-board")

.cell(id="helloworld_thumbnail")
    .cell_container
        a(href="#printer-controller-board" class="proj_a")
        +proj_thumbnail_title("printer-controller-board")
