//- meta.pug

meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover")
meta(http-equiv="X-UA-Compatible" content="ie=edge")

meta(name="description" content="louiscklaw portfolio")
meta(name="keywords" content="louiscklaw portfolio")
meta(name="author" content="https://louiscklaw.github.io")
meta(name="geo.region" content="HK")

meta(property="og:title" content="louiscklaw portfolio")
meta(property="og:description" content="portfolio of louiscklaw")
meta(property="og:url" content="https://louiscklaw.github.io/portfolio")
meta(property="og:type" content="website")
meta(property="og:image" content="https://louiscklaw.github.io/portfolio/assets/portfolio_thumbnail.jpg")
meta(property="og:locale" content="en")

meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:site" content="@louislabs")
meta(property="twitter:title" content="louis portfolio")
meta(property="twitter:description" content="louiscklaw portfolio")
meta(property="twitter:creator" content="@louislabs")
meta(property="twitter:image" content="https://louiscklaw.github.io/portfolio/assets/portfolio_thumbnail.jpg")
meta(property="twitter:domain" content="louiscklaw.github.io")

meta(name="robots" content="index, follow")
meta(name="revisit-after" content="1 days")

//- android
meta(name="theme-color" content="#300130")

link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/hamburgers/1.1.3/hamburgers.min.css")
script(src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.4/clipboard.min.js")
